
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ title }}
{% endblock %}
{% block body_content %}
<!-- MY Detail view of product -->
<h2>Add new Product</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
<!--    <input type="name" class="form-control mt-2" placeholder="product name">-->
<!--    <input type="price" class="form-control mt-2" placeholder="product price">-->
<!--    <textarea type="short" class="form-control mt-2" placeholder="short" rows="3"></textarea>-->
<!--    <textarea type="description" class="form-control mt-2" placeholder="long description" rows="6"></textarea>-->
    <button type="submit">Submit</button>
</form>
<a href="{% url 'product_list' %}" type="button" class="btn btn-info" role="button">Back To List</a>
{% endblock %}
