{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}
    Base file
    {% endblock %}</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    {% include 'nav.html' %}

    {% block body_content %}
        replace me
    {% endblock %}

    <script src="{% static 'vendor/jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static   'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
